h1 {
  font-family: arial;
  font-size: 36px;
  text-align: center;
  margin-top: 25px; }

.container {
  text-align: center; }
  .container div {
    display: inline-block; }

.gitProfiles {
  text-align: center;
  font-family: arial; }
  .gitProfiles img {
    width: 200px;
    height: 200px;
    border: 15px solid black; }
  .gitProfiles ul {
    list-style-type: none;
    font-family: arial;
    font-size: 16px;
    text-align: center;
    color: gray;
    margin: 0;
    padding: 0;
    border-left: 2px solid black;
    border-right: 2px solid black; }
